body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup {
  position: fixed;
  width: 600px;
  height: auto;
  min-height: 400px;
  max-height: 50vh;
  overflow-y: scroll;
  background: #fff;
  box-shadow:0px 1px 5px -2px black;
  left: calc(50% - 300px);
  top: 100px;
}
.bg-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  background-color:#000000a3;
}
main {
  text-align: center;
}
.meme {
  width: "300px";
  margin: "0 auto 10px";
  cursor: "pointer";
}

input[type=text] {
  margin-bottom: 15px;
  display: block;
  width: 100%;
}
.meme-captions {
  width: 300px;
  position: relative;
  top: 20px;
  left: 250px;
}

img.img-selected {
  width: 200px;
  display: block;
  position: absolute;
  top: 60px;
  left: 20px;
}

img.img-caption {
  width: 400px;
  height: auto;
  margin: 30px auto 10px;
  cursor: pointer;
}